@font-face {
	font-family: 'Baloo';
	src: url('Baloo2-VariableFont_wght.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Anek';
	src: url('AnekGujarati-VariableFont_wdth,wght.ttf');
	font-weight: normal;
	font-style: normal;
}
